<div class="form-group">
    <p>The global prefix is currently set to <b><code><%= data.DBM.Files.data.settings.tag %></code></b></p>
    <input class="form-control" name="prefix" rows="4" value="<%= data.DBM.Files.data.settings.tag %>" required>
</div>