<div class="form-group">
    <p>Find Channel by:</p>
    <select class="form-control" name="channelType">
        <option selected value="id">Channel ID</option>
        <option value="name">Channel Name</option>
    </select><br>
    <p>Channel ID / Name:</p>
    <input class="form-control" name="channel" rows="4" required><br><br>
    <p>Amount:</p>
    <input class="form-control" name="amount" rows="4" required placeholder="2 to 100">
</div>