body {
    margin: 0;
    padding: 0;
    background-color: #2C2F33;
}

.loginBody {
    padding-top: 40px;
    margin-left: 100px;
    padding-right: auto;
    max-width: 25%;
}

.headerBrand {
    font-size: 20px;
}

.headerBrandNavButtons {
    font-size: 16px;
}

.sideNavBar {
    max-width: 300px;
}

.navHeader {
    background-color: #23272A;
    color: white;
    margin: 0;
    padding: 0;
}

.lightBackground {
    background-color: #2C2F33;
    margin-top: -5px;
    color: white;
}

.features {
    font-size: large;
    padding-bottom: 25px;
}

.featuresHeader {
    color: #7289DA;
    font-size: 25px;
}

.darkBackground {
    background-color: #23272A;
    margin-top: -5px;
    color: white;
}

.featuresHeaderFooter {
    color: #7289DA;
    font-size: 20px;
}

.guild-container {
    top: 72px;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.guild-container .serv-container {
    width: 70%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.guild-icon {
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid #ddd;
    vertical-align: middle;
    transition: border-radius .5s cubic-bezier(.5, 1.65, .5, -0.65);
    display: inline-block;
    text-decoration: none;
    border: 2px solid white !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.22) !important;
}

.guild-container {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

.guild-icon:hover {
    border-radius: 15px;
}

.serv-container {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.list-serv {
    display: block;
    list-style-type: disc;
    padding: 0px;
    list-style: none;
    opacity: .9;
}