<div class="form-group">
    <p>Return Bot Info:</p>
        <select class="form-control" name="option">
        <option selected value="0">Bot Ping</option>
        <option value="1">Guild Count</option>
        <option value="2">Bot Channel Count</option>
        <option value="3">Ready At</option>
    </select>
</div>
