<!-- <table class="table table-striped table-dark">
    <thead style="background-color: #2C2F33;">
        <tr style="background-color: #23272A;">
            <th>Command Name</th>
            <th>Command ID</th>
            <th>Permissions</th>
            <th style="text-align: right">Toggle Command</th>
        </tr>
        <% for (i = 0; i < data.commands.length; i++) {
            const command = data.commands[i];
            if (command) { %>
                <tr>
                    <td><%= command.name %></td>
                    <td><%= command._id %></td>
                    <td><%= command.permissions %></td>
                    <td style="text-align: right"><button type="submit" class="btn btn-danger">Disable</button></td>
                </tr>
            <% }
        } %>
    </thead>
</table> -->